* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
}
body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px white;
}

body::-webkit-scrollbar-thumb {
  background-color: #9fa7a7;
  outline: 1px solid white;
  border-radius: 5px;
}
